body{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    margin: 5rem;
}

h1{
    font-size: 4rem;
}

span{
    font-size: 1.2rem;
    color: darkgrey;
}

i{
    font-size: 40px;
    padding: 25px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #c5c5c5;
}

/* Navbar */

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.2rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* Container-top */

.container{
    margin-top: 100px;
}

.col-md-3{
    text-align: center;
}

.col-sm-3{
    padding: 3rem;
    font-size: 1rem;
    margin-bottom: 3rem;
}

/* Container-bootton */

h3 {
    position: relative;
    top: 2rem;
    font-size: 5rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid;
    border-radius: 23px;
    width: 293px;
    height: 420px;

    img{
        width: 18.2rem;
        height: 20rem;
        border-radius: 1.4rem;
    }
    h4 {
        position: relative;
        left: 0.8rem;
    }
    .description{
        position: relative;
        left: 0.8rem;

        font-size: 1.3rem;
    }
    button{
        position: relative;
        left: 7rem;
        border-radius: 20px;
        height: 40px;
        width: 39px;
        background-color: black;
        color: white;
        font-size: 1rem;
    }
    span {
        font-weight: 700;
        color: black;
    }
    i {
        position: relative;
        left: 6.2rem;
        border-radius: 2rem;
        height: 2rem;
        width: 2rem;
        background-color: black;
        color: white;
        font-size: 1.3rem;
    }
}

.col-md-2{
    position: relative;
    bottom: 0rem;
    left: 53rem;
    margin-bottom: 2rem;
    width: 250px;
    height: 50px;
    background: none;
    border-radius: 20px;
    font: bold 15px arial;
}